@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

h1, h2 {
  font-weight: 700;
  color: #36413C;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 28px;
}

h3, p {
  font-weight: 500;
  color: #5E6E66;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

button {
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  background: #DE6C17;
  border: 1px solid #DE6C17;
  padding: 0 15px;
  color: #fff;
  margin-top: 1.5rem;
}

a {
  font-weight: 700;
  font-size: 18px;
  color: #DE6C17;
  text-decoration: none;
}

a :hover {
  color: #DE6C17;
}

img {
  width: 100%;
}

.banner {
  position: relative;
}

.banner .header {
  position: absolute;
  top: 8rem;
  width: 38%;
  left: 13rem;
}

.banner .banner-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.banner h1, .banner h3 {
  color: #fff;
}

.heading {
  text-align: center;
  width: 39%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.services {
  width: 86%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .card {
  max-width: 33.333%;
  margin: 1.5rem;
  -webkit-box-flex: 1.3344;
      -ms-flex: 1.3344;
          flex: 1.3344;
}

.services .card .card-img img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  height: auto;
  vertical-align: middle;
}

.services .card .card-desc {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border: 3px solid #D7D7D7CF;
  border-top: 0px;
  padding: 10px 20px;
}

.services .card .card-desc p {
  margin: 15px 0px;
}

.float-nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}

.float-nav > a.menu-btn {
  text-decoration: none;
  display: block;
  background-color: #DE6C17;
  color: #fff;
  padding: 17px 19px 12px 19px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 8px #777;
          box-shadow: 2px 2px 8px #777;
  border-radius: 300px;
}

.float-nav > a.menu-btn.active {
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(1) {
  border-width: 2px;
  -webkit-transform: rotate(45deg) translate(4px, 6px);
          transform: rotate(45deg) translate(4px, 6px);
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(2) {
  visibility: hidden;
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(3) {
  border-width: 2px;
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
          transform: rotate(-45deg) translate(8px, -10px);
}

.float-nav > a.menu-btn > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.float-nav > a.menu-btn > ul > li.line {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 7px;
}

.float-nav > a.menu-btn > .menu-txt {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.float-nav > a.menu-btn:hover {
  color: #fff;
}

.float-nav > a.menu-btn:hover > .menu-txt {
  color: #fff;
}

.main-nav {
  display: none;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.main-nav.active {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.main-nav > ul {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #DE6C17;
  -webkit-box-shadow: 2px 2px 8px #777;
          box-shadow: 2px 2px 8px #777;
}

.main-nav > ul > li > a {
  text-decoration: none;
  display: block;
  font-weight: 200;
  padding: 18px 80px 18px 18px;
  color: white;
}

.main-nav > ul > li > a :hover {
  color: #fff;
}

.subheading {
  display: none;
  opacity: 0;
}

.subheading.active {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 450ms;
  transition: opacity 450ms;
}

.subheading > ul {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.subheading > ul > li > a {
  text-decoration: none;
  display: block;
  font-weight: 200;
  padding: 18px 18px 18px 36px;
  color: white;
}

.subheading a:hover {
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .banner .header {
    top: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .banner .header {
    top: 4rem;
    width: 40%;
    left: 11rem;
  }
  .heading {
    width: 60%;
  }
  .services {
    display: block;
  }
  .services .card {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services .card .card-img {
    max-width: 40%;
  }
  .services .card .card-img img {
    border-radius: 0px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    min-height: 100%;
  }
  .services .card .card-desc {
    max-width: 60%;
    border-radius: 0px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: 3px solid #D7D7D7CF;
    border-left: 0px;
  }
}

@media screen and (max-width: 1003px) {
  .banner .header {
    width: 41%;
    left: 9rem;
  }
}

@media screen and (max-width: 979px) {
  .banner .header {
    width: 43%;
  }
}

@media screen and (max-width: 932px) {
  .heading {
    width: 79%;
  }
}

@media screen and (max-width: 892px) {
  .banner .header {
    width: 47%;
    left: 8rem;
    top: 3rem;
  }
}

@media screen and (max-width: 889px) {
  .services .card .card-desc {
    max-width: 52%;
  }
  .services .card .card-img {
    max-width: 47%;
  }
}

@media screen and (max-width: 860px) {
  .banner .header {
    width: 50%;
    left: 7rem;
    top: 2rem;
  }
}

@media screen and (max-width: 824px) {
  .banner .header {
    width: 51%;
    left: 6rem;
  }
}

@media screen and (max-width: 796px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .banner .header {
    width: 51%;
    left: 6rem;
  }
}

@media screen and (max-width: 658px) {
  .banner .header {
    top: 1rem;
    left: 5rem;
  }
}

@media screen and (max-width: 620px) {
  .banner {
    min-height: 33vh;
    background-image: url("assets/main-banner.png");
    background-size: cover;
  }
  .banner .banner-img {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .banner .header {
    width: 59%;
  }
  .services {
    width: 95%;
  }
  .services .card {
    display: block;
  }
  .services .card .card-img, .services .card .card-desc {
    max-width: 100%;
  }
  .services .card .card-img img {
    border-radius: 0px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .services .card .card-desc {
    border-radius: 0px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border: 3px solid #D7D7D7CF;
    border-top: none;
  }
}

@media screen and (max-width: 454px) {
  .banner {
    min-height: 34vh;
  }
  .banner .header {
    width: 74%;
    top: 1rem;
    left: 2rem;
  }
}

@media screen and (max-width: 413px) {
  .banner {
    min-height: 36vh;
  }
  .banner h1 {
    margin: 0.47em 0;
  }
  .banner .header {
    width: 78%;
    top: 0rem;
  }
  button {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 321px) {
  .float-nav > a.menu-btn {
    padding: 12px 14px 6px 13px;
  }
  .float-nav > a.menu-btn > .menu-txt {
    font-size: 9px;
  }
  .banner h1 {
    font-size: 25px;
  }
  .banner h3 {
    font-size: 16px;
  }
  .banner button {
    font-size: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */